### Описание задания:
В итоговой работе предлагается решить задачу классификации. В датасете находится информация о флаге и базовых показателях страны. На основе доступной информации решается задача классификации стран по религии. Целевой признак мультиклассовый – religion. Остальные признаки описывают характерные черты флага и самой страны. 

### Этапы работы:

1) Получите данные и загрузите их в рабочую среду. 

2) Проведите первичный разведочный анализ данных.
**a)** Проверьте данные на пропуски.
**b)** Постройте 1-2 графика на выбор. Визуализация должна быть основана на исследуемых данных и быть полезной (из графика можно сделать вывод об особенностях датасета/класса/признака).
**c)** Визуализируйте распределение количества флагов по религиям.

3) Разделите выборку на обучающее и тестовое подмножество. 80% данных оставить на обучающее множество, 20% на тестовое.

4) Обучите любую модель классификации на выбор.

5) Для тестового множества сделайте предсказание целевой переменной. Выведите метрики модели с помощью metrics.classification_report. Можно использовать любой другой альтернативный метод подсчета метрик.

6) Посчитайте и выведите корреляционную матрицу. Убедитесь, что ячейки матрицы поделены на цветные категории, в ячейках указано числовое значение корреляции.
**a)** Сделайте выводы.

7) Обработайте выбросы в данных.
**a)** Визуализируйте распределение значений для каждой переменной. Можно использовать функции sns.boxplot, sns.distplot.
**b)** Исследуйте признаки на выбросы. Удалите выбросы, если они были найдены/вы считаете это необходимым.

8) Проведите нормализацию признаков.
**a)** Выберите признаки для нормализации, предложите способы для их обработки.

9) Повторите п. 4, п. 5.

10) Сбалансируйте классы путем oversampling/undersampling.
**a)** Повторите п. 4, п. 5.

11) Уменьшите размерность пространства признаков.
**a)** Повторите п. 4, п. 5.

12) Примените любой метод на ваше усмотрение для отбора признаков.
**a)** Повторите п. 4, п. 5. Укажите количество выбранных признаков.

13) Оптимизируйте параметры модели из п. 4.
**a)** Повторите п. 4, п. 5.

14) Обучите стекинг трех моделей, включая модель с оптимизированными параметрами.

15) Выберите результат с лучшими метриками и постройте для него Confusion Matrix.

16) *Творческий пункт. Предложите что-то интересное для датасета.

17) Сделайте выводы.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [16]:
with open('flag.names', 'r') as plt:
    lines = [line.rstrip('\n') for line in plt]
    print(*lines, sep='\n')

1. TItle: Flag database

2. Source Information
   -- Creators: Collected primarily from the "Collins Gem Guide to Flags":
      Collins Publishers (1986).
   -- Donor: Richard S. Forsyth
             8 Grosvenor Avenue
             Mapperley Park
             Nottingham NG3 5DX
             0602-621676
   -- Date: 5/15/1990

3. Past Usage:
   -- None known other than what is shown in Forsyth's PC/BEAGLE User's Guide.

4. Relevant Information:
   -- This data file contains details of various nations and their flags.
      In this file the fields are separated by spaces (not commas).  With
      this data you can try things like predicting the religion of a country
      from its size and the colours in its flag.
   -- 10 attributes are numeric-valued.  The remainder are either Boolean-
      or nominal-valued.

5. Number of Instances: 194

6. Number of attributes: 30 (overall)

7. Attribute Information:
   1. name	Name of the country concerned
   2. landmass	1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
   3. zone	Geographic quadrant, based on Greenwich and the Equator
                1=NE, 2=SE, 3=SW, 4=NW
   4. area	in thousands of square km
   5. population	in round millions
   6. language 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other
               Indo-European, 7=Chinese, 8=Arabic,
               9=Japanese/Turkish/Finnish/Magyar, 10=Others
   7. religion 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu,
               5=Ethnic, 6=Marxist, 7=Others
   8. bars     Number of vertical bars in the flag
   9. stripes  Number of horizontal stripes in the flag
  10. colours  Number of different colours in the flag
  11. red      0 if red absent, 1 if red present in the flag
  12. green    same for green
  13. blue     same for blue
  14. gold     same for gold (also yellow)
  15. white    same for white
  16. black    same for black
  17. orange   same for orange (also brown)
  18. mainhue  predominant colour in the flag (tie-breaks decided by taking
               the topmost hue, if that fails then the most central hue,
               and if that fails the leftmost hue)
  19. circles  Number of circles in the flag
  20. crosses  Number of (upright) crosses
  21. saltires Number of diagonal crosses
  22. quarters Number of quartered sections
  23. sunstars Number of sun or star symbols
  24. crescent 1 if a crescent moon symbol present, else 0
  25. triangle 1 if any triangles present, 0 otherwise
  26. icon     1 if an inanimate image present (e.g., a boat), otherwise 0
  27. animate  1 if an animate image (e.g., an eagle, a tree, a human hand)
               present, 0 otherwise
  28. text     1 if any letters or writing on the flag (e.g., a motto or
               slogan), 0 otherwise
  29. topleft  colour in the top-left corner (moving right to decide
               tie-breaks)
  30. botright Colour in the bottom-left corner (moving left to decide
               tie-breaks)

8. Missing values: None

In [18]:
header = [
    'name',
    'landmass',
    'zone',
    'area',
    'population',
    'language',
    'religion',
    'bars',
    'stripes',
    'colours',
    'red',
    'green',
    'blue',
    'gold',
    'white',
    'black',
    'orange',
    'mainhue',
    'circles',
    'crosses',
    'saltires',
    'quarters',
    'sunstars',
    'crescent',
    'triangle',
    'icon',
    'animate',
    'text',
    'topleft',
    'botright',
]
len(header)

30

In [20]:
data = pd.read_csv('flag.data', names=header, sep=',')
data.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [21]:
data.duplicated().sum()

0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        194 non-null    object
 1   landmass    194 non-null    int64
 2   zone        194 non-null    int64
 3   area        194 non-null    int64
 4   population  194 non-null    int64
 5   language    194 non-null    int64
 6   religion    194 non-null    int64
 7   bars        194 non-null    int64
 8   stripes     194 non-null    int64
 9   colours     194 non-null    int64
 10  red         194 non-null    int64
 11  green       194 non-null    int64
 12  blue        194 non-null    int64
 13  gold        194 non-null    int64
 14  white       194 non-null    int64
 15  black       194 non-null    int64
 16  orange      194 non-null    int64
 17  mainhue     194 non-null    object
 18  circles     194 non-null    int64
 19  crosses     194 non-null    int64
 20  saltires    194 non-null    int64
 21  quarters    194 non-null    int64
 22  sunstars    194 non-null    int64
 23  crescent    194 non-null    int64
 24  triangle    194 non-null    int64
 25  icon        194 non-null    int64
 26  animate     194 non-null    int64
 27  text        194 non-null    int64
 28  topleft     194 non-null    object
 29  botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB